__pycache__/


# Mesh / CMISS-like outputs
*.exnode
*.exelem
*.ipnode
*.ipelem
*.ipfiel

*.py[cod]
*.egg
*.egg-info/
*.eggs/
dist/
*build/
*.manifest
*.spec
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.ipynb_checkpoints
*.log
testing_scripts/
